.btn {
  padding-block: 0.5em;
  padding-inline: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  text-wrap: nowrap;
  line-height: 1;
  border: var(--border-1);
  border-color: transparent;
}