.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 2em;

  .form-grp {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
  }
  
  input {
    flex-grow: 1;
    border-block-start: unset;
    border-inline: unset;
  }
}