:where(.future) {
  /* Colors */
  --c-primary: 197 31% 16%;
  --c-primary-01: 197 31% 34%;
  --c-secondary: 153 72% 62%;

  /* Body */
  --body-bg-color: hsl(var(--c-white));

  /* Reset */
  h2 {
    font-weight: var(--fw-400);
  }

  /* Components */
  .btn {
    background-color: hsl(var(--c-secondary));
    box-shadow: 0 0.125em 0.25em hsl(var(--c-dark) /0.38);
    border-color: hsl(var(--c-secondary));
    
    &:hover {
      color: hsl(var(--c-foreground));
      border-color: hsl(var(--c-secondary));
      background-color: hsl(var(--c-white));
      box-shadow: 0 0.063em 0.25em hsl(var(--c-dark) /0.68);
    }
  }

  .form {
    input {
      border-color: hsl(var(--c-foreground));
      
      &:focus-visible,
      &:focus-within {
        border-color: hsl(var(--c-secondary));
      }
    }

    .btn {
      padding-inline: var(--dyn-size-64);
      color: hsl(var(--c-background));
      background-color: hsl(var(--c-foreground));
      border-color: hsl(var(--c-foreground));
      
      &:hover {
        color: hsl(var(--c-foreground));
        background-color: hsl(var(--c-background));
      }
    }
  }
  /* Layouts */
  .hero {
    position: relative;
    
    .container {
      max-width: 100em;
    }
    
    .col {
      position: relative;
      padding-block: var(--dyn-size-64);
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: hsl(var(--c-white));
        z-index: -1;
        filter: blur(5em);
      }
    }

    @media only screen and (width > 60em) {
      .col {
        max-width: 50%;
      }
    }

    img {
      position: absolute;
      object-fit: cover;
      inset-block-start: 0;
      inset-inline-end: calc(var(--container-padding-inline) * 3);
      aspect-ratio: 1/1;
    }

    h1 {
      text-transform: uppercase;
    }
  }

  .benefits {
    color: hsl(var(--c-background));
    background-color: hsl(var(--c-primary));

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--dyn-size-48);
    }

    .card  {
      display: inline-flex;
    }

    .content {
      max-width: 19rem;
      text-align: center;

      h3 {
        font-weight: var(--fw-500);
        font-size: var(--fs-20);
      }
      
      p {
        font-size: var(--fs-18);
      }
    }
    
    @media only screen and (width > 70em){
      ul {
        column-gap: unset;
      }
      .card  {
        &:nth-child(1) {
          width: 100%;
          justify-content: center;
        }
        
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: 50%;
        }
        &:nth-child(2),
        &:nth-child(4) {
          justify-content: flex-end;
        }
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          width: 33.333%;
          justify-content: center;
        }
    
        &:nth-child(2) {
          padding-inline-end: 5%;
        }
        &:nth-child(3) {
          padding-inline-start:5%;
        }
        &:nth-child(4) {
          padding-inline-end: 15%;
        }
        &:nth-child(5) {
          padding-inline-start: 15%;
        }
        &:nth-child(6) {
          justify-content: flex-start;
        }
        &:nth-child(8) {
          justify-content: flex-end;
        }
    
      }
    }
  }

  .reviews {
    background-color: hsl(var(--c-primary-01));
    color: hsl(var(--c-background));
  }
}
