:root {
  --c-primary: 26 56% 8%; /*#201309*/
  --c-primary-1: 25 56% 16%; /*#3F2512*/
  --c-primary-2: 25 56% 42%; /*#A7612F*/
  --c-primary-3: 25 56% 60%; /*#D28F60*/
  --c-primary-4: 27 61% 79%; /*#EAC6A9*/
  --c-primary-5: 27 61% 90%; /*#F5E4D6*/
  --c-primary-6: 27 60% 97%; /*#FCF7F3*/
  --c-primary-7: 27 60% 94%; /*#F9EFE7*/
  --c-primary-8: 30 60% 98%; /*#FDFAF7*/
  
  /* .c {
    color: #201309;
    color: #3F2512;
    color: #A7612F;
    color: #D28F60;
    color: #EAC6A9;
    color: #F5E4D6;
    color: #FCF7F3;
    color: #F9EFE7;
    color: #FDFAF7;
  } */
  
    --gradient-x: linear-gradient(120deg, hsl(var(--c-primary-4)) 0%, hsl(var(--c-primary-2)) 50%, hsl(var(--c-primary-1)) 100%);
    --gradient-y: linear-gradient( hsl(var(--c-primary-4)) 15%, hsl(var(--c-primary-3)) 30%, hsl(var(--c-primary-1)) 100%);
    --gradient-y-2: linear-gradient( hsl(var(--c-primary-8)) 0%, hsl(var(--c-primary-7)) 100%);
}


/* * {
  border: var(--border-1);
} */

body {
  background: var(--gradient-y-2);
}

.btn {
  order: 4;
  font-weight: var(--fw-300);
  background-image: var(--gradient-y-2);
  box-shadow: 0 0.25em 0.25em -0.125em hsl(var(--c-foreground) / 0.48);
  border-color: hsl(var(--c-primary-2));
  
  &:hover {
    color: hsl(var(--c-foreground));
    border-color: hsl(var(--c-primary-2));
    box-shadow: 0 0.25em 0.125em -0.125em hsl(var(--c-foreground) / 0.48);
  }
}

.hero {
  .col {
    position: relative;
    text-align: center;
    align-items: center;
    padding: var(--dyn-size-96);
    border: var(--border-2);
    border-color: hsl(var(--c-primary-2));
    background-color: hsl(var(--c-primary-6));

    &::before {
      content: '';
      position: absolute;
      inset: -1em;
      border: var(--border-2);
      border-width: 0.25em;
      border-color: hsl(var(--c-primary-2));
      z-index: -1;
      box-shadow: 0 0 6em -0.125em hsl(var(--c-primary-1) / 0.18);
    }    
  }

  h1 {
    font-size: var(--fs-80);
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient-x);
  }

  p {
    max-width: 55rem;
    font-size: var(--fs-32);
    font-weight: var(--fw-300);
  }

  img {
    height: var(--dyn-size-64);
  }
}

.benefits {
  .container {
    max-width: 110em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    row-gap: var(--dyn-size-64);
    column-gap: var(--dyn-size-144);
  }
  .card {
    max-width: 23rem;
    position: relative;
    text-align: center;
    align-items: center;
    padding-block: 1em;
    padding-inline: 2em;
    border: var(--border-1);
    border-color: hsl(var(--c-primary-3));
    background-color: hsl(var(--c-primary-6));

    &::before {
      content: '';
      position: absolute;
      inset: -0.5em;
      border: var(--border-2);
      border-width: 0.175em;
      border-color: hsl(var(--c-primary-3));
      z-index: -1;
      box-shadow: 0 0 1.5em -0.125em hsl(var(--c-primary-1) / 0.18);
    }  
  }

  h3 {
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
  }
  p {
    font-size: var(--fs-18);
    font-weight: var(--fw-300);
    /* max-width: 19rem; */
  }
}

.reviews {
  background-color: hsl(var(--c-primary-6));
  border-block: var(--border-2);
  border-color: hsl(var(--c-primary-2));
  border-width: 0.19em;

  .content {
    max-width: 67rem;

    h3 {
      font-size: var(--fs-20);
      font-weight: var(--fw-400);
    }
  
    p {
      font-size: var(--fs-18);
      font-weight: var(--fw-300);
    }
  }
  
  
}

.form {
  input {
    border-color: hsl(var(--c-foreground));
    
    &:focus-visible,
    &:focus-within {
      border-color: hsl(var(--c-primary-3));
    }
  }

  .btn {
    padding-inline: var(--dyn-size-48);
  }
}

