:root {
  --c-primary: 119 69% 46%;
  --c-secondary: 193 100% 91%;
  --c-tertiary: 69 78% 48%;

  --gradient-radial-1: radial-gradient(100% 100% at 50% 0%, hsl(var(--c-dark) /0.32) 50%, hsl(var(--c-primary) /0.32));
  --gradient-radial-2: radial-gradient(at 50% 0%, hsl(var(--c-dark) / 0.32), hsl(var(--c-tertiary) / 0.32));
}

body {
  background-color: hsl(var(--c-foreground));
  color: hsl(var(--c-background));
}

.btn {
  font-weight: var(--fw-600);
  background-color: hsl(var(--c-primary));
  border-radius: var(--border-radius-1);
}

.hero {
  background-image: var(--gradient-radial-1);
  
  h1 {
    word-spacing: 0.25em;
    text-transform: uppercase;
    color: hsl(var(--c-primary));

    span {
      display: block;
    }
    span:first-child {
      font-size: var(--fs-72);
      font-weight: var(--fw-400);
    }
    span:last-child {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      font-size: var(--fs-96);
      font-weight: var(--fw-600);
      background-image: var(--gradient-y);
    }
  }

  p {
    font-size: var(--fs-32);
    max-width: 50rem;
  }
}

.benefits {
  .container {
    max-width: 120rem;
  }
  ul {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    list-style: unset;
    column-gap: var(--dyn-size-192);
    row-gap: var(--dyn-size-144);
  }

  .card {
    text-align: center;
    padding: var(--dyn-size-48);
    background: var(--gradient-radial-2);
    border: var(--border-2);
    border-color: hsl(var(--c-background));
    border-radius: var(--border-radius-4);

    .content {
      max-width: 21rem;
    }

    h3 {
      font-size: var(--fs-24);
    }
  }
}

.reviews {
  .content {
    max-width: 90rem;
    padding-block: var(--dyn-size-48);
    padding-inline: var(--dyn-size-128);
    gap: var(--dyn-size-144);
    border: var(--border-2);
    border-color: hsl(var(--c-background));
    border-radius: var(--border-radius-1);
    background-image: var(--gradient-radial-1);
  }
}

.form {
  .btn {
    color: inherit;
    padding-inline: var(--dyn-size-64);
  }
}
