.nav {
  --z-index: 10000;
  --width: 4.5em;
  --sub-width: calc(var(--width) * 1.5);
  --link-border: var(--border-1);
  --scale: 1.05;

  position: absolute;
  text-align: center;
  font-weight: var(--fw-700);
  z-index: var(--z-index);

  .menu,
  .item,
  .sub-item,
  .item > a,
  .sub-item > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  /* Visibility */
  .menu,
  .sub-menu {
    visibility: hidden; 
    &.visible {
    visibility: visible;
  }
}

  .item,
  .sub-item {
    width: var(--width);
    height: var(--width);
    border: var(--link-border);
    border-color: transparent;
    border-radius: var(--border-radius-0);
    background-color: hsl(var(--c-background));
    font-size: var(--fs-32);
    text-transform: uppercase;
    color: hsl(var(--c-primary));
    transition: border-color 0.2s, transform 0.2s;
  }

  .item:hover {
    border-color: hsl(var(--c-primary));
    transform: scale(var(--scale));

    /* prevent scaling --- (items with a sub-menu child )*/
    &:has(.sub-menu){
      transform: unset;
    }
  }

  /* Items with a sub-menu child */
  .item:has(.sub-menu) {
    font-size: var(--fs-24);
    width: var(--width);
    height: var(--width);
    /* Arrange in a circle */
    offset-path: circle(calc(var(--width) * 3));
    offset-rotate: 0deg;
  }
  
  .sub-item {
    width: var(--sub-width);
    height: var(--sub-width);
    font-size: var(--fs-16);
    color: hsl(var(--c-secondary));
    transition: border-color 0.2s, transform 0.2s;

    /* Arrange in a circle */
    offset-path: circle(calc(var(--width) * 1.8)); 
    offset-rotate: 0deg;

    &:hover {
      transform: scale(var(--scale));
      border-color: hsl(var(--c-secondary));
    }
  }
}