.hero {
  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--dyn-size-64)
  }

  h1 {
    font-weight: var(--fw-400);
    span {
      display: block;
    }
  }

  p {
    font-size: var(--fs-28);
  }

  .btn {
    font-size: var(--fs-28);
  }
}