.reviews {
  text-align: center;
  
  .content {
    max-width: 70rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    gap: var(--dyn-size-96);
  }

  header {
    margin-block-end: 1.5rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  h3 {
    margin: 0;
  }

  span {
    align-self: flex-end;
  }

  .icon {
    font-size: 2em;
  }

  p {
      font-size: var(--fs-20);
    }
}